// ===== Charte graphique "Trouve ton artisan" =====

// Couleurs
$bleu-clair: #f1f8fc;
$bleu: #0074c7;
$bleu-fonce: #00497c;
$gris: #384050;
$rouge: #cd2c2e;
$vert: #82b864;

// Police
$police-principale: 'Graphik', 'Inter', sans-serif;